# Детекція та навчання
ultralytics==8.4.35
torch==2.7.1+cu118
torchvision==0.22.1+cu118

# Відео та камера
opencv-python==4.13.0.33

# Інтерфейс
PyQt6==6.11.0

# Утиліти
numpy==1.26.4
Pillow==10.3.0
PyYAML==6.0.1
